.my-nav {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: .5rem 5rem;
    position: relative;

    border-bottom: solid 1px #616161;

    .search-icon {
        position: absolute;
        left: 2.9em;
        top: 0.7em;
        color: #bdbdbd;
    }
    
    &--content { justify-content: space-around }
    &.white { background-color: #fff; }
    &.black { background-color: #000; }
    &--fixed {
        position: fixed;
        width: 100%;
        z-index: 9;
    }
    &--big { height: 13vh; }
}