.tag {
    background-color: #616161;
    color: #fff;
    border-radius: 4px;
    display:inline-block;
    margin-top: 5px;
    padding: 2px 12px;
    margin-right: 8px;

    font-size: 13px;
    padding: 2px 8px;
    
    >.remove-tag {
        cursor: pointer;
    }
}